In [1]:
import sys
sys.path.append("../..")
import urllib
import pandas as pd
import mitosheet
from geo.countries import Countries
from geo.groups import *
c = Countries()
c.load_wb()

In [2]:
data = pd.read_csv('table2aoecd.csv')

In [3]:
data.columns

Index(['RECIPIENT', 'Recipient', 'DONOR', 'Donor', 'PART', 'Part', 'AIDTYPE',
       'Aid type', 'DATATYPE', 'Amount type', 'TIME', 'Year', 'Unit Code',
       'Unit', 'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [4]:
data['Aid type'].value_counts()

Memo: ODA Total, excl. Debt             124452
ODA: Total Net                          124309
Imputed Multilateral ODA                123802
Memo: ODA Total, Gross disbursements    120880
Grants, Total                           113970
Technical Cooperation                    62796
ODA per Capita                           54660
ODA as % GNI (Recipient)                 51873
ODA Loans: Total Net                     43120
Humanitarian Aid                         40334
ODA Loan Repayments                      35906
ODA Gross Loans                          29006
Interest received                        25640
Recoveries                               17746
Development Food Aid                     12190
Equity investment                         5042
Memo: Net debt relief                     4639
Grants: Debt Forgiveness                  3695
Offsetting entries for debt relief        2871
AF/Interest Subsidies                     1768
Grants: Other Debt Grants                  986
Rescheduled debt                           315
Name: Aid type, dtype: int64

In [5]:
data_net_oda = data[(data['Donor'] == 'Official Donors, Total') & (data['Aid type'] == 'ODA: Total Net')]

In [6]:
data_net_oda_ldcs = data_net_oda[data_net_oda['Recipient'].isin(get_group("LDCs").get_names_and_aliases())]

In [7]:
mitosheet.sheet(data_net_oda_ldcs, analysis_to_replay="id-boggvbcmuk")

MitoWidget(analysis_data_json='{"analysisName": "id-boggvbcmuk", "analysisToReplay": null, "code": [], "stepSuâ€¦

In [12]:
data_net_oda_ldcs.groupby(data['Year']).agg({'Value': sum})

          Value
Year
2011   79339.80
2012   75007.86
2013   83364.19
2014   74927.66
2015   78176.80
2016   79201.20
2017   87340.24
2018   97078.73
2019   95391.41
2020  113761.65