In [1]:
import sys
sys.path.append("../..")
import urllib
import pandas as pd
import mitosheet
import plotly.express as px
from geo.countries import Countries
from geo.groups import *
import 
c = Countries()
c.load_wb()

In [2]:
data = pd.read_csv('table2aoecd.csv')

In [3]:
# Get the name of columns
# data.columns
# Get a sense of the counts of different values
# data['Aid type'].value_counts()

In [4]:
# Get only official donors and aid type ODA total net
data_net_oda = data[(data['Donor'] == 'Official Donors, Total') & (data['Aid type'] == 'ODA: Total Net')]
# Get only the LDCs
data_net_oda_ldcs = data_net_oda[data_net_oda['Recipient'].isin(get_group("LDCs").get_names_and_aliases())]
# Get other developing countries
data_net_oda_odcs = data_net_oda[data_net_oda['Recipient'].isin(get_group("Developing excluding LDCs").get_names_and_aliases())]

In [5]:
data_net_oda_ldcs.groupby(['Year']).agg({'Value': sum})

          Value
Year
2011   79339.80
2012   75007.86
2013   83364.19
2014   74927.66
2015   78176.80
2016   79201.20
2017   87340.24
2018   97078.73
2019   95391.41
2020  113761.65

In [6]:
data_net_oda_odcs.groupby(['Year']).agg({'Value': sum})

         Value
Year
2011  62041.35
2012  53436.43
2013  57486.80
2014  63644.51
2015  65634.27
2016  69299.55
2017  71014.11
2018  62902.76
2019  64691.60
2020  85159.62

In [7]:
# Reshape from long to wide
data_net_oda_ldcs_pivot = data_net_oda_ldcs.pivot_table(
    columns='Year', 
    values='Value', 
    index='Recipient'
)
data_net_oda_odcs_pivot = data_net_oda_odcs.pivot_table(
    columns='Year', 
    values='Value', 
    index='Recipient'
)

In [ ]:
import chart_studio.plotly as py

In [8]:
# mitosheet.sheet(data_net_oda_odcs_pivot, analysis_to_replay="id-rqpicnstal")