In [23]:
import sys
sys.path.append("..")
import json
import urllib.request
from IPython.display import clear_output
import countries
import sources
from countrylist import CountryList
from data.Frame import Frame
from data.Row import Row
from data.Cell import Cell
from data.Stats import calculate_weighted_average as wa
c = CountryList()
c.load_wb()
from sources.worldbank.indicators import get_data_frame_wide as getdfw

In [34]:
start = 2016
end = 2016
indicator = 'NV.IND.MANF.ZS'
weight = 'NY.GDP.MKTP.CD'
df_data = getdfw(name=indicator, 
                start=start, end=end, 
                countries=c.get_groups(["LDCs", "Africa"]),
                label_field='entity',
                value_field='value',
                column_field='date'
                )

In [28]:
n = Frame()

In [29]:
n.add_column(df_data.get_column("entity"))

True

In [35]:
n.add_column(df_data.get_column(2016.0))

Length of dataset not equal

False

In [31]:
n.column_names()

['entity', 2016.0]

In [32]:
n.print()

+------------+------------+
| entity     | 2016       |
+------------+------------+
| Afghanista | 11.818     |
| n          |            |
+------------+------------+
| Bangladesh | 17.915     |
+------------+------------+
| Bhutan     | 7.817      |
+------------+------------+
| Cambodia   | 17.236     |
+------------+------------+
| Lao PDR    | 8.784      |
+------------+------------+
| Myanmar    | 22.789     |
+------------+------------+
| Nepal      | 5.967      |
+------------+------------+
| Timor-     | None       |
| Leste      |            |
+------------+------------+

In [33]:
df_data.print()

+------------+------------+
| entity     | 2016       |
+------------+------------+
| Afghanista | 11.818     |
| n          |            |
+------------+------------+
| Bangladesh | 17.915     |
+------------+------------+
| Bhutan     | 7.817      |
+------------+------------+
| Cambodia   | 17.236     |
+------------+------------+
| Lao PDR    | 8.784      |
+------------+------------+
| Myanmar    | 22.789     |
+------------+------------+
| Nepal      | 5.967      |
+------------+------------+
| Timor-     | None       |
| Leste      |            |
+------------+------------+