In [1]:
import sys
sys.path.append("..")
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/cces18_common_vv.csv')

c:\users\tomas\.virtualenvs\datascrapper2-nhmyotxb\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (283,290,464,471) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data

,caseid,commonweight,commonpostweight,vvweight,vvweight_post,tookpost,CCEStake,birthyr,gender,educ,...,CL_party,CL_2018gvm,CL_2018pep,CL_2018pvm,starttime,endtime,starttime_post,endtime_post,DMA,dmaname
0,123464282,0.940543,0.7936,0.740858,0.641412,2,1,1964,2,4,...,11.0,1.0,NaN,NaN,10/4/2018 2:47,10/9/2018 4:16,11/11/2018 0:41,11/11/2018 1:21,512.0,BALTIMORE
1,170169205,0.769724,0.7388,0.425236,0.415134,2,1,1971,2,2,...,13.0,NaN,6.0,2.0,10/2/2018 6:55,10/2/2018 7:32,11/12/2018 0:49,11/12/2018 1:08,531.0,"""TRI-CITIES"
2,175996005,1.491642,1.3105,1.700094,1.603264,2,1,1958,2,3,...,13.0,5.0,NaN,NaN,10/7/2018 0:48,10/7/2018 1:38,11/12/2018 21:49,11/12/2018 22:19,564.0,CHARLESTON-HUNTINGTON
3,176818556,5.104709,4.6304,5.946729,5.658840,2,1,1946,2,6,...,4.0,3.0,NaN,3.0,10/11/2018 15:20,10/11/2018 16:18,11/11/2018 13:24,11/11/2018 14:00,803.0,LOS ANGELES
4,202120533,0.466526,0.3745,0.412451,0.422327,2,1,1972,2,2,...,3.0,5.0,NaN,NaN,10/8/2018 2:31,10/8/2018 3:03,11/15/2018 1:04,11/15/2018 1:57,529.0,LOUISVILLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,420441626,1.457952,2.2857,1.067382,1.256993,2,1,1993,2,3,...,3.0,4.0,NaN,NaN,11/5/2018 21:28,11/5/2018 22:05,11/17/2018 20:16,11/17/2018 20:43,NaN,NaN
59996,420441704,1.530062,1.4626,1.277186,1.182071,2,1,1982,1,5,...,13.0,1.0,NaN,NaN,11/5/2018 21:31,11/5/2018 21:53,11/26/2018 17:23,11/26/2018 17:37,613.0,MINNEAPOLIS-ST. PAUL
59997,420445919,0.607522,NaN,0.597612,NaN,1,1,1997,2,3,...,13.0,NaN,NaN,NaN,11/5/2018 21:51,11/5/2018 22:22,NaN,NaN,527.0,INDIANAPOLIS
59998,420449977,0.815931,1.1495,NaN,NaN,2,1,1984,2,2,...,NaN,NaN,NaN,NaN,11/5/2018 22:15,11/5/2018 23:11,11/17/2018 14:30,11/17/2018 14:42,752.0,COLORADO SPRINGS-PUEBLO
59999,420450972,0.889778,NaN,NaN,NaN,1,1,1979,1,3,...,NaN,NaN,NaN,NaN,11/5/2018 22:20,11/5/2018 22:45,NaN,NaN,507.0,SAVANNAH

In [39]:
from scipy import stats
import sklearn
from sklearn.linear_model import LinearRegression
import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.formula.api import logit
from statsmodels.formula.api import mnlogit
import matplotlib.pyplot as plt
%matplotlib inline

In [65]:
ind = 'CC18_320c' # Gun control - Ban assault rifles
model = str("CC18_317 ~ %s" % (ind))
voting_model = mnlogit(model, data = data).fit()

Optimization terminated successfully.
         Current function value: 0.861903
         Iterations 8

In [68]:
voting_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                          MNLogit Regression Results
==============================================================================
Dep. Variable:               CC18_317   No. Observations:                46172
Model:                        MNLogit   Df Residuals:                    46164
Method:                           MLE   Df Model:                            4
Date:                Sat, 09 May 2020   Pseudo R-squ.:                  0.1487
Time:                        15:53:52   Log-Likelihood:                -39796.
converged:                       True   LL-Null:                       -46746.
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
CC18_317=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.8128      0.037    103.878      0.000       3.741       3.885
CC18_320c     -2.8094      0.028   -100.268      0.000      -2.864      -2.755
------------------------------------------------------------------------------
CC18_317=3       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.1671      0.051     -3.250      0.001      -0.268      -0.066
CC18_320c     -0.8306      0.033    -24.838      0.000      -0.896      -0.765
------------------------------------------------------------------------------
CC18_317=4       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -2.3494      0.153    -15.332      0.000      -2.650      -2.049
CC18_320c     -1.0238      0.105     -9.730      0.000      -1.230      -0.818
------------------------------------------------------------------------------
CC18_317=5       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -2.9100      0.217    -13.383      0.000      -3.336      -2.484
CC18_320c     -1.1405      0.152     -7.480      0.000      -1.439      -0.842
==============================================================================
"""

In [69]:
fig = plt.figure(figsize=(15,8))
fig = sm.graphics.plot_regress_exog(voting_model, ind , fig=fig)

AttributeError: 'MNLogit' object has no attribute 'weights'

In [62]:
data['CC18_317']

0        1.0
1        1.0
2        1.0
3        2.0
4        2.0
        ...
59995    2.0
59996    1.0
59997    2.0
59998    1.0
59999    1.0
Name: CC18_317, Length: 60000, dtype: float64

In [71]:
data

,caseid,commonweight,commonpostweight,vvweight,vvweight_post,tookpost,CCEStake,birthyr,gender,educ,...,CL_party,CL_2018gvm,CL_2018pep,CL_2018pvm,starttime,endtime,starttime_post,endtime_post,DMA,dmaname
0,123464282,0.940543,0.7936,0.740858,0.641412,2,1,1964,2,4,...,11.0,1.0,NaN,NaN,10/4/2018 2:47,10/9/2018 4:16,11/11/2018 0:41,11/11/2018 1:21,512.0,BALTIMORE
1,170169205,0.769724,0.7388,0.425236,0.415134,2,1,1971,2,2,...,13.0,NaN,6.0,2.0,10/2/2018 6:55,10/2/2018 7:32,11/12/2018 0:49,11/12/2018 1:08,531.0,"""TRI-CITIES"
2,175996005,1.491642,1.3105,1.700094,1.603264,2,1,1958,2,3,...,13.0,5.0,NaN,NaN,10/7/2018 0:48,10/7/2018 1:38,11/12/2018 21:49,11/12/2018 22:19,564.0,CHARLESTON-HUNTINGTON
3,176818556,5.104709,4.6304,5.946729,5.658840,2,1,1946,2,6,...,4.0,3.0,NaN,3.0,10/11/2018 15:20,10/11/2018 16:18,11/11/2018 13:24,11/11/2018 14:00,803.0,LOS ANGELES
4,202120533,0.466526,0.3745,0.412451,0.422327,2,1,1972,2,2,...,3.0,5.0,NaN,NaN,10/8/2018 2:31,10/8/2018 3:03,11/15/2018 1:04,11/15/2018 1:57,529.0,LOUISVILLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,420441626,1.457952,2.2857,1.067382,1.256993,2,1,1993,2,3,...,3.0,4.0,NaN,NaN,11/5/2018 21:28,11/5/2018 22:05,11/17/2018 20:16,11/17/2018 20:43,NaN,NaN
59996,420441704,1.530062,1.4626,1.277186,1.182071,2,1,1982,1,5,...,13.0,1.0,NaN,NaN,11/5/2018 21:31,11/5/2018 21:53,11/26/2018 17:23,11/26/2018 17:37,613.0,MINNEAPOLIS-ST. PAUL
59997,420445919,0.607522,NaN,0.597612,NaN,1,1,1997,2,3,...,13.0,NaN,NaN,NaN,11/5/2018 21:51,11/5/2018 22:22,NaN,NaN,527.0,INDIANAPOLIS
59998,420449977,0.815931,1.1495,NaN,NaN,2,1,1984,2,2,...,NaN,NaN,NaN,NaN,11/5/2018 22:15,11/5/2018 23:11,11/17/2018 14:30,11/17/2018 14:42,752.0,COLORADO SPRINGS-PUEBLO
59999,420450972,0.889778,NaN,NaN,NaN,1,1,1979,1,3,...,NaN,NaN,NaN,NaN,11/5/2018 22:20,11/5/2018 22:45,NaN,NaN,507.0,SAVANNAH